*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.clock{
  display: inline-block;
  margin: 50px 10px;
  font-family: sans-serif;
}

.clock h1{
  display: inline;
  width: 100%;
  font-size: 3em;
}

.blue-box-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.blue-box {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  margin: 15px;
  height: 150px;
  width: 150px;
  color: white;
  background-color: rgb(106, 209, 175);
  font-family: serif;
}

.blue-box h2{
  font-size: 2.5em;
}
.blue-box h3{
  font-size: 1.5em;
}